.info {
    background-color: rgb(255, 255, 210);
    border-radius: 10px;
    border: 2px solid rgb(105,105,105);

    }

.leblenc a{
    color: black;
    font-weight: bold;
    text-decoration: none;


}

.leblenc a:hover{
    color: red;
    font-style: italic;

}

p{
   text-align: justify; 

}
.felkover{
    font-weight: bold;
}


.dolt{

    font-style: italic;
}
